.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b06ce8;
    padding: 36px 0 48px;
}

.counter {
    padding: 24px 0;
    text-align: center;
}

.title, label {
    color: #fff;
}

input {
    width: 180px;
    height: 26px;
    border: none;
    border-radius: 13px;
    padding: 0 12px;
}

input:focus-visible {
    outline: none;
}

button {
    height: 26px;
    border: none;
    border-radius: 4px;
    margin-left: 12px;
}

button:hover {
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
}

.selection {
    flex: 0 0 240px;
}

.todo {
    font-weight: 500;
}

.completed .desc {
    text-decoration: line-through;
    color: #4f4f4f;
}

.selected .desc {
    color: #b06ce8;
}
